# PostgreSQL
POSTGRES_DB=frauddb
POSTGRES_USER=fraud
POSTGRES_PASSWORD=change_me_postgres

# MySQL
MYSQL_DATABASE=frauddb
MYSQL_USER=fraud
MYSQL_PASSWORD=change_me_mysql
MYSQL_ROOT_PASSWORD=change_me_mysql_root

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me_mongo

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_REGISTERED_MODEL=FraudLogisticRegression
MLFLOW_MODEL_ALIAS=champion

# Streamlit -> FastAPI in Docker Compose
FASTAPI_BASE_URL=http://fastapi:8000
REQUEST_TIMEOUT=120
