__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
.env
.env.*
!.env.example
!.env.docker.example
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
checkpoints/
spark-warehouse/
metastore_db/
derby.log
mlflow_data/
models/
monitoring_data/
monitoring_reports/
*.deb
*.msi
*.exe
lib/*.jar
docker_data/
*.zip
*.tar
*.tar.gz
*.7z
.streamlit/secrets.toml
