APP_NAME=Fraud Detection API
APP_VERSION=2.0.0
ENVIRONMENT=production
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_REGISTERED_MODEL=FraudLogisticRegression
MLFLOW_MODEL_ALIAS=champion
SPARK_APP_NAME=fraud-fastapi-serving
SPARK_MASTER=local[*]
SPARK_UI_ENABLED=false
